*, *::after, *::before {
    box-sizing: border-box;
    
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
   
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
   
    
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
body{
background-color:#2a6592;
}
.header{
    position: relative;
    height:0%;
    border-color: black;
    
}
#background{
    border-radius: 50px;
}
#logo{
    position: absolute;
    top: 25%;
    left: 8%;
    transform: translate(-50%, -50%);
}
#h1{
    position: absolute;
    top: 0%;
    left: 24%;
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;   
    color:blueviolet;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black;
}
#h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: black;
}
#h3{
    position: absolute;
    top: 55%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:blueviolet;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color:black;
    
}
#form{
    margin-top: 50px;
    width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   color: aliceblue;
}
#form span{
    background:#2a6592; 
    padding:0 10px;
}
#username{
    
    margin-top:10px ;

    width: 1400px; /* You can adjust the width as needed */

    padding: 10px; /* Optional padding for better aesthetics */

    font-size: 16px; /* Optional font size adjustment */
   
}
#satu{
    font-size: 20px;
    color: aliceblue;
    
    
}
.dua{
    font-size: 20px;
    color: aliceblue;
    text-align: center;
  
}
#tiga{
    font-size: 20px;
    color: aliceblue;
}
#submitting{
    position: relative;
    margin-top: 20px; /* Adjust the value as needed */
    margin-left: 680px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: green;
    border: 2px #000;
    border-radius: 8px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.4s;
    color: aliceblue;
    cursor: pointer;
}
#submitting:hover{
    background-color: #04AA6D; /* Green */
    color: white;
}
.content{
   background-color:darkslateblue;
    border: 2px black  ;
    padding: 10px;
    border-radius: 20px;
}
.contact{
    margin-top: 20px; /* Adjust the value as needed */
    margin-left: 700px;
}
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .btn-group button {
    display: inline-block;
     padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 1000px;
    transition-duration: 0.4s;
    font-size: 20px;
  }
  .btn-group button:hover{
    background-color:blue;
  }
.secondheader{
    background-color: aqua;
    border-radius: 20px;
    margin-top: 30px;
}
.openbtn{
    position: relative;
    margin-top: 15px; /* Adjust the value as needed */
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color:mediumblue;
    border: 2px #000;
    border-radius: 8px;
    width: 1400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color:black;
    transition-duration: 0.4s;
    color: aliceblue;
    cursor: pointer;
    
}
.openbtn:hover{
    background-color: #04AA6D; /* Green */
    color: white;
}
.ruangcontact{
  background-color:lightseagreen;
  border-radius: 20px;
  margin-top: 10px ;
  margin-bottom: 20px;
}
